# Supabase / PostgreSQL Database Connection URL
# Expected format: postgresql://postgres.xxxxxx:password@aws-0-us-east-1.pooler.supabase.com:6543/postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pos_pizza

# NestJS API Port
PORT=3001

# If /orders/track/:ticketNumber is opened in browser, redirect here
TRACKING_WEB_URL=http://localhost:3000
